name: ecommerce-analysis
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.11
  - pandas
  - numpy
  - matplotlib
  - seaborn
  - plotly
  - jupyter
  - notebook
  - scikit-learn
  - pip
  - pip:
    - streamlit

